/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


.bg-gray {
    background-color: darkgray;
}



/* REGOLE HEADER */
.header-container {
    width: 100vw;
    height: 5vh;
    color: white;
    position: relative;
    left: 0;
    margin: 0;
}

.screen-display {
    position: absolute;
    right: 0;
    margin: 5vh 0;
}

.screen-display > span {
  background-color: lightgray;  
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 5px;
}

.button-speakers {
    margin-right: 10px;
}

/* REGOLE MAIN */
/* main-container può avere vw? */
.main-container {
    width: 1200px; 
    margin: 0 auto;
}

.main-section-container {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.main-section {
    width: 14%;
    height: 100px;
    margin-bottom: 10px; 
}


/* REGOLE FOOTER */
.footer-container {
    width: 100vw;
    line-height: 4em;
    vertical-align: middle;
}

.footer-section {
    display: inline-block;
    vertical-align: middle; 
}

/* non so se mi serve vertical align.. */


/* DEBUG */

.debug .main-section {
    background-color: red;
}

.debug .footer-section {
    background-color: pink;
    border: 1px dashed black;
}